$color-primary: #242E4C;
$color-primary-darker: #182343;
$color-primary-lighter: #585F76;
$color-secondary: #E44260;
$color-third: #1D58A5;


$font-big: 3rem;
$font-middle: 2rem;
$font-small: 1.5rem;
$font-mini: 1rem;
$font-family: "Work Sans",
sans-serif;
